Body {
    background-color: black;
    color: white
}

.title-dg {
    /* background-image: linear-gradient(red, yellow, blue); */
    font-family: Rochester;
}

.userIcons {
    width: 30px;
    margin-right: 10px;
}

.icons {
    width: 20px;
}